body{
    background-color: #efefef;
}
.main {
    background-color: white;
}
.row {
    padding-top: 15px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.alert-error {
    margin-bottom: 15px;
}
