<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Code BBS</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
</head>
<body>
<div th:replace="~{commons/commons::topNavbar}"></div>
<div class="container main my-4">
    <div class="row rounded shadow py-3">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 border-right">
            <h4 class="d-flex align-middle">
                <img th:src="@{/icons/list.svg}" width="32" height="32" class="align-middle">
                <span class="align-middle pl-1">发现</span>
            </h4>
            <hr class="mb-0">
            <ul class="list-unstyled">
                <li class="media list py-2" th:each="question : ${pagination.getQuestions()}">
                    <img th:src="${question.getUser().getAvatarUrl()}" class="rounded m-1 list-avatar">
                    <div class="media-body">
                        <h5 class="my-0"><a th:href="@{'/question/' + ${question.getId()}}" th:text="${question.getTitle()}"></a></h5>
                        <span class="text-desc"><span th:text="${question.getCommentCount()}"></span> 个回复 • <span
                                th:text="${question.getViewCount()}"></span> 次浏览 • <span
                                th:text="${#dates.format(question.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span></span>
                    </div>
                </li>
            </ul>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:if="${pagination.getShowFirstPage()}">
                        <a class="page-link" th:href="@{/(page=1)}">&laquo;</a>
                    </li>
                    <li class="page-item" th:if="${pagination.getShowPrevious()}"><a class="page-link" th:href="@{/(page=${pagination.getPage() - 1})}">&lsaquo;</a></li>
                    <li th:class="${page == pagination.getPage() ? 'page-item active' : 'page-item'}" th:each="page : ${pagination.getPages()}"><a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a></li>
                    <li class="page-item" th:if="${pagination.getShowNext()}"><a class="page-link"  th:href="@{/(page=${pagination.getPage() + 1})}">&rsaquo;</a></li>
                    <li class="page-item" th:if="${pagination.getShowEndPage()}">
                        <a class="page-link" th:href="@{/(page=${pagination.getTotalPage()})}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 pt-xl-1 pt-lg-1 pt-md-3 pt-sm-3 pt-3 pb-3">
            <ul class="list-group">
                <li class="list-group-item active"><h5>热门话题</h5></li>
                <li class="list-group-item">111111111</li>
                <li class="list-group-item">222222222</li>
                <li class="list-group-item">333333333</li>
            </ul>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
<script type="text/javascript">
    $(function () {
        // 解决bootstrap下拉菜单第一次点击无反应问题
        $('.dropdown-toggle').dropdown();
    });
    window.onload = function () {
        const closable = window.localStorage.getItem("closable");
        if (closable === "true") {
            window.close();
            window.localStorage.removeItem("closable");
        }
    }
</script>
</body>
</html>