<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>发布 — Code BBS</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
</head>
<body>
<div th:replace="~{commons/commons::topNavbar}"></div>
<div class="container main my-4">
    <div class="row rounded shadow py-3">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 border-right">
            <h4 class="d-flex align-middle">
                <img th:src="@{/icons/publish.svg}" class="align-middle"><span
                    class="align-middle pl-1">发起</span></h4>
            <hr>
            <form id="question" novalidate th:action="@{/publish}" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="问题标题....." required pattern="^.{1,26}$">
                    <div class="invalid-feedback"><small>问题标题长度不超过25字</small></div>
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，请参照右侧提示）：</label>
                    <textarea class="form-control" name="description" id="description" th:text="${description}"
                              cols="30" rows="10" required></textarea>
                    <div class="invalid-feedback"><small>请输入问题补充</small></div>
                </div>
                <div class="form-group">
                    <label for="tag">添加标题：</label>
                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                           placeholder="输入标签，以逗号分隔" required pattern="^(.{1,10},)*.{1,10}$">
                    <div class="invalid-feedback"><small>每个标签不超过10个字，并用逗号隔开</small></div>
                </div>
                <div class="alert alert-danger alert-error alert-dismissible fade show col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12"
                     role="alert" th:if="${error != null}">
                    <strong th:text="${error}"></strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-publish">发布</button>
                </div>

            </form>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 pt-xl-1 pt-lg-1 pt-md-3 pt-sm-3 pt-3 pb-3">
            <ul class="list-group">
                <li class="list-group-item active"><h5>问题发起指南</h5></li>
                <li class="list-group-item">问题标题: 请用精简的语言描述您发布的问题，不超过25字</li>
                <li class="list-group-item">问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</li>
                <li class="list-group-item">选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</li>
            </ul>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
<script type="text/javascript">
    $(function () {
        // 解决bootstrap下拉菜单第一次点击无反应问题
        $('.dropdown-toggle').dropdown();
    });
    $(function () {
        $("#question").submit(function (event) {
            const f = $(this)
            if (f[0].checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation()
            }
            f.addClass("was-validated")
        })
    });
</script>
</body>
</html>