<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${questionDTO.getTitle() + ' - Code BBS'}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/community.css}"/>
</head>
<body>
<div th:replace="~{commons/commons::topNavbar}"></div>
<div class="container main my-4 col-xl-10 col-lg-10 col-md-11 col-sm-11 col-11">
    <div class="row rounded shadow py-3">
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 border-right">
            <h4 class="d-flex align-middle">
                <span class="align-middle pl-1" th:text="${questionDTO.getTitle()}"></span>
            </h4>
            <span class="text-desc">
                作者：<span th:text="${questionDTO.getUser().getName()}"></span> |
                回复数：<span th:text="${questionDTO.getCommentCount()}"></span> |
                阅读数：<span th:text="${questionDTO.getViewCount()}"></span> |
                发布时间：<span th:text="${#dates.format(questionDTO.getGmtCreate(), 'yyyy-MM-dd HH:mm')}"></span>
            </span>
            <hr class="mt-2">
            <div th:text="${questionDTO.getDescription()}">
            </div>
            <hr class="mb-0">
            <nav class="nav">
                <a class="nav-link btn-sm pl-0 py-1 d-flex align-middle"
                   th:href="@{'/publish/' + ${questionDTO.getId()}}"
                   th:if="${session.user != null && session.user.getId() == questionDTO.getCreator()}">
                    <img class="edit" th:src="@{/icons/edit.svg}">
                    <span class="text-desc align-middle edit">编辑</span>
                </a>
            </nav>
            <h5 class="pt-5 pb-3 mb-0 border-bottom"><span th:text="${questionDTO.getCommentCount()}"></span>个回复</h5>
            <ul class="list-unstyled mb-0" th:each="comment : ${comments}">
                <li class="media mt-2 border-bottom">
                    <img th:src="${comment.getUser().getAvatarUrl()}" class="rounded m-1 list-avatar">
                    <div class="media-body" th:id="${'comment-body-' + comment.getId()}">
                        <small class="my-0" th:text="${comment.getUser().getName()}"></small>
                        <div th:text="${comment.getContent()}"></div>
                        <div class="mt-1 menu">
                            <button type="button" class="btn btn-sm btn-outline-secondary d-flex float-left mr-1 mb-1">
                                <img th:src="@{/icons/up.svg}"></button>
                            <button type="button" class="btn btn-sm btn-outline-secondary d-flex float-left"
                                    th:id="${'commentBtn-' + comment.getId()}" th:data-id="${comment.getId()}"
                                    data-toggle="collapse" th:data-target="'#' + ${'comment-' + comment.getId()}"
                                    aria-expanded="false" th:aria-controls="${'comment-' + comment.getId()}"
                                    onclick="collapseComments(this)"><img th:src="@{/icons/comment.svg}"></button>
                            <span class="float-right text-desc align-bottom"
                                  th:text="${#dates.format(comment.getGmtCreate(), 'yyyy-MM-dd')}"></span>
                        </div>
                        <div class="clearfix"></div>
                        <!--二级评论-->
                        <div class="collapse py-0 border rounded" th:id="${'comment-' + comment.getId()}">
                            <ul class="list-unstyled">
                                <li class="media list mx-2 py-2">
                                    <img th:src="${session.user.getAvatarUrl()}" width="32" height="32"
                                         class="rounded m-1">
                                    <div class="media-body">
                                        <small class="d-flex" th:text="${comment.getUser().getName()}"></small>
                                        <small class="d-flex">11111111111</small>
                                    </div>
                                </li>
                                <li class="media list mx-2 py-2">
                                    <img th:src="${session.user.getAvatarUrl()}" width="32" height="32"
                                         class="rounded m-1">
                                    <div class="media-body">
                                        <small class="d-flex" th:text="${comment.getUser().getName()}"></small>
                                        <small class="d-flex">22222222222</small>
                                    </div>
                                </li>
                            </ul>
                            <div class="secondComment  px-3 pt-3 pb-2">
                                <input class="form-control pl-2" type="text" placeholder="评论一下..."
                                       th:id="${'input-' + comment.getId()}">
                                <button class="btn btn-success btn-mini d-flex float-right mt-2" type="button"
                                        th:data-id="${comment.id}" onclick="comment(this)">评论
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix mb-2"></div>
                    </div>
                </li>
            </ul>
            <div id="comment_section">
                <div class="align-middle mt-2" th:if="${session.user != null}">
                    <img th:src="${session.user.getAvatarUrl()}" width="32" height="32"
                         th:alt="${session.user.getName()}">
                    <small class="align-middle" th:text="${session.user.getName()}"></small>
                </div>
                <div class="input-group mt-2">
                    <input type="hidden" id="question_id" th:value="${questionDTO.getId()}">
                    <textarea class="form-control" rows="6" id="comment_content"></textarea>
                </div>
                <button type="button" class="btn btn-success mt-2 float-right" onclick="post()">回复</button>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 pt-xl-1 pt-lg-1 pt-md-3 pt-sm-3 pt-3 pb-3">
            <h6>发起人</h6>
            <div class="align-middle">
                <img th:src="${questionDTO.getUser().getAvatarUrl()}" width="32" height="32">
                <small class="align-middle" th:text="${questionDTO.getUser().getName()}"></small>
            </div>
            <hr class="my-2">
            <h6>相关问题</h6>
        </div>
    </div>

</div>
<script th:src="@{/js/jquery-3.4.1.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
<script th:src="@{/js/community.js}" type="application/javascript"></script>
<script type="text/javascript">
    $(function () {
        // 解决bootstrap下拉菜单第一次点击无反应问题
        $('.dropdown-toggle').dropdown();
    });
</script>
</body>
</html>